body{
    background-color: #fdfdfd;
    
}
.imagemInicio{
    margin-left: 20%;
    height: 40%;
    position: relative;
    width: 40%;
}

#pesquisa{
    width: 80%;
}

#botaoPesquisa{
    margin-left: 3%;
}