<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="http://www.proway.com.br" target="_blank" class="navbar-left" menu>
      <img alt="Brand" src="https://www.devs2blu.com.br/assets/img/logo-proway.png" with="40" height="40"
        class="img-responsive">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
      aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contato' %}">Contato</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cadastros
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdown" id="itensMenu">
              <script>
                $('#navbarDropdown').click(function () {
                  $('#itensMenu').empty();
                  $.get('/getMenu/', function (retorno) {
                    retorno = retorno.replace('{', '').replace('}', '').split(',');
                    for (i = 0; i < retorno.length; i++) {
                      $('#itensMenu').append('<li><a class="dropdown-item" href="' +
                        retorno[i].substring(retorno[i].indexOf(':') + 1).replace(/'/g, '').trim() + '">' +
                        retorno[i].trim().substring(0, retorno[i].indexOf(':')).replace(':', '').replace(/'/g, '').trim()+'</a></li>');
                    }
                  })
                })
              </script>
          {% else %}
            <li class="nav-item">
              <a class="nav-link disabled">Cadastros</a>
            </li>
            {% endif %}
          </ul>
          </ul>
      {% if user.is_authenticated %}
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              {{ user.first_name }}
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Alterar Senha</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
            </ul>
          </div>
      {% else %}
          <form class="d-flex" action="{% url 'login' %}">
            <button class="btn btn-warning" type="submit">Acessar</button>
          </form>
      {% endif %}
    </div>
  </div>
</nav>