{% extends 'base.html' %}

{% block titulo %}Cadastro de Item{% endblock %}

{% block corpo %}
    <div class="form-control">
        <form action="#">
            <div class="text-center">
                <h3>
                    <label class="text-primary">Cadastro de Item</label>
                </h3>
            </div>
            <div class="mb-3">
                <label for="descricao" class="form-label">Descrição</label>
                <input type="text" class="form-control" id="descricao" maxlength="100" required />
            </div>
            <div class="mb-3">
                <label for="categoria">Categoria</label>
                <select id="categoria" class="form-select">
                    <option value="0">Selecione</option>
                    <option value="1">Hardware</option>
                    <option value="2">Software</option>
                </select>
            </div>
            
            {% include 'acoes_form.html' %}
            
        </form>
    </div>
{% endblock %}