{% extends 'base.html' %}

{% block titulo %}Exclusão de Item{% endblock %}

{% block corpo %}
    <div class="form-control">
        <form action="#">
            <div class="text-center">
                <h3>
                    <label class="text-primary">Exclusão de Item - Item</label>
                </h3>
            </div>
            <div class="mb-3">
                <label for="descricao" class="form-label">Descrição</label>
                <input type="text" class="form-control" id="descricao" maxlength="100" readonly />
            </div>
            <div class="mb-3">
                <label for="categoria">Categoria</label>
                <select id="categoria" class="form-select" disabled>
                    <option value="0">Selecione</option>
                    <option value="1">Hardware</option>
                    <option value="2">Software</option>
                </select>
            </div>
            
            {% include 'acoes_form_exclui.html' %}
            
        </form>
    </div>
{% endblock %}