{% extends 'base.html' %}

{% block titulo %}Exclusão de Estado{% endblock %}

{% block corpo %}
    <div class="form-control">
        <form action="#">
            <div class="text-center">
                <h3>
                    <label class="text-primary">Exclusão de Estado - Estado</label>
                </h3>
            </div>
            <div class="mb-3">
                <label for="sigla" class="form-label">Sigla</label>
                <input type="text" class="form-control" id="sigla" maxlength="2" minlength="2" readonly />
            </div>
            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" maxlength="50" readonly />
            </div>
            
            {% include 'acoes_form_exclui.html' %}
            
        </form>
    </div>
{% endblock %}