{% extends 'base.html' %}

{% block titulo %}Lista de Cidades{% endblock %}

{% block corpo %}
    <div class="text-center">
        <h3>
            <label class="text-primary">Lista de Cidades</label>
        </h3>
    </div>

    <div class="container mt-4">
        <button class="btn btn-primary" onclick="location.href='cadastra-cidade'">Novo</button>
    </div>
    <div class="container mt-4">
        {% if total > 0%}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Estado</th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for estado in estado %}
                <tr>
                    <td>{{cidade.nome}}</td>
                    <td>{{cidade.estado}}</td>
                    <td class="text-center">
                        <button class="btn btn-warning" onclick="location.href='altera-cidade'">Alterar</button>
                        <button class="btn btn-danger" onclick="location.href='exclui-cidade'">Excluir</button>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                        <label>Total de registros: {{total}}</label>
                    </td>
                </tr>
            </tfoot>
        </table>
        {%else%}
        {%include 'sem_item_cadastrado.html' %}
        {%endif%}
    </div>
{% endblock %}