{% extends 'base.html' %}

{% block titulo %}Lista de Itens{% endblock %}

{% block corpo %}
    <div class="text-center">
        <h3>
            <label class="text-primary">Lista de Itens</label>
        </h3>
    </div>
    {% if user.is_authenticated %}
    <div class="container mt-4">
        <button class="btn btn-primary" onclick="location.href='cadastra-item'">Novo</button>
    </div>
    {% include 'form_pesquisa.html' %}
    {% endif %}
    <div class="container mt-4">
        {% if total > 0 %}
        {% if user.is_authenticated %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for item in porPagina %}
                <tr>
                    <td>{{ item.descricao }}</td>
                    <td>{{ item.categoria }}</td>
                    <td class="text-center">
                        <button class="btn btn-warning" onclick="location.href='altera-item/{{ item.id }}'">Alterar</button>
                        <button class="btn btn-danger" onclick="location.href='exclui-item/{{ item.id }}'">Excluir</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                        <label>Total de registros: {{ total }}</label>
                    </td>
                </tr>
            </tfoot>
        </table>
        {% include 'paginacao.html' %}
        {% else %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Categoria</th>
                </tr>
            </thead>
            <tbody>
                {% for item in item %}
                <tr>
                    <td>{{ item.descricao }}</td>
                    <td>{{ item.categoria }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <label>Total de registros: {{ total }}</label>
                    </td>
                </tr>
            </tfoot>
        </table>
        {% endif %}
        {% elif procura %}
            {% include 'sem_registro_encontrado.html' %}
        {% else %}
            {% include 'sem_item_cadastrado.html' %}
        {% endif %}
    </div>
{% endblock %}